<h1>Example Omniauth-facebook</h1>

<% if current_user %>
	<h1>Hello, <%= current_user.name %></h1>
  <%= image_tag(current_user.facebook_image_url, alt: "Foto de perfil", class: "img-thumbnail") %>
<% else %>
	
	<div class="row">
    	<h3>Please log in to see the app</h3>
    	<hr>
        <div class="col-lg-4 col-lg-offset-4 ">
          <a href="/users/auth/facebook" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span>
            Registrate ahora usando Facebook
          </a>
        </div>
  	</div>

<% end %>